<div class="card">
  <div class="card-heading">

  </div>
  <div class="card-body">
    <div class="jumbotron">
      <img src="../../../assets/IMG/Eulalio.jpg" class="img" alt="Imagen" width="200" height="200">
      <h1 class="display-4">Desarrollador de Software</h1>
      <hr class="my-4">
      <div class="row">
        <div class="col-md-6">
            <table>
              <thead>
                <tr>
                  <th>Mis datos</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    <td>Nombre: </td><td>Eulalio Cruz Nava</td>
                </tr>
                <tr>
                    <td>Edad: </td><td>27</td>
                </tr>
                <tr>
                  <td>Direccion: </td><td>San Antonio Tlilapa Tlapacoya Puebla</td>
                </tr>
                <tr>
                  <td>Fecha de Nacimiento: </td><td>13 de Enero de 1993</td>
                </tr>
                <tr>
                  <td>Telefono: </td><td>5610384912</td>
                </tr>
                <tr>
                  <td>Correo electronico: </td><td>eulalio_cruz_nava@hotmai.com</td>
                </tr>
                <tr>
                  <td>Estado: </td><td>Soltero</td>
                </tr>
                <tr>
                  <td></td><td><a href="http://github.com/eulalonava/">GitHub</a></td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="col-md-6">
          <p>Carrera Profesional:</p>
          <div class="card bg-default">
            <div class="card-body">
              <h3>Ingenieria en Tecnologias de la Información</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
