<div class="row">
  <div class="col-md-12">
    <div class="card"> 
      <div class="card-header">
        <h4 class="title">Agregar nueva tecnologia</h4>
      </div> 
      <div class="card-body">
        <form #formAgregar="ngForm">
          <div class="form-group">
            <div class="alert alert-danger" *ngIf="msjerror != '' ">{{msjerror}}</div>
          </div>
          <div class="form-group">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="tecnologia.nombre"
             class="form-control" required>
          </div>
          <div class="form-group">
            <label for="descripcion">Descripcion:</label>
            <input type="text" name="descripcion" #descripcion="ngModel" [(ngModel)]="tecnologia.descripcion"
             class="form-control" required>
          </div>
          <div class="form-group">
            <label for="tipo">Tipo Tecnologia:</label>
            <select name="tipo" id="" class="form-control" #tipo="ngModel" [(ngModel)]="tecnologia.tipo">
              <option *ngFor="let tipo of tiposTec" value="{{tipo.tipo_id}}">{{tipo.tipo_nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="imagen">Seleccionar imagen:</label>
            <input type="file" name="imagen"
             (change)="fileChangeEvent($event)" class="form-control btn-sm" required> 
          </div>
          <input type="button" class="btn btn-primary" (click)="agregarTecnologia(formAgregar)" value="Agregar"
          [disabled]="!formAgregar.form.valid">
        </form>
      </div>    
    </div>
  </div>
</div>
