<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-primary d-flex justify-content-between">
        <h5 class="card-title text-white">Agregando nueva experiencia</h5>
        <a [routerLink]="['/experiencia']">
          <input type="button" class="btn btn-success btn-sm" value="Regresar">
        </a>
      </div>
      <div class="card-body">
        <div class="row">
            <div class="col-md-10">
              <div class="form-group">
                <label for="">Empresa:</label>
                <input type="text" name="txtEmpresa" #txtEmpresa="ngModel" [(ngModel)]="exp.empresa" class="form-control">
              </div>
              <div class="form-group">
                <label for="">Duracion:</label>
                <input name="" id="" class="form-control" name="txtduracion" #txtduracion="ngModel" [(ngModel)]="exp.duracion" />
              </div>
              <div class="row">
                <div class="col-md-6">
                    <label for="">Fecha de Inicio:</label>
                    <input type="date" name="txtInicio" #txtInicio="ngModel" [(ngModel)]="exp.inicio" class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="">Fecha Fin:</label>
                    <input type="date" name="txtFin" #txtFin="ngModel" [(ngModel)]="exp.fin" class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="">Cargo:</label>
                <input type="text" name="txtCargo" #txtCargo="ngModel" [(ngModel)]="exp.cargo" class="form-control"
                maxlength="40">
              </div>
              <div class="form-group">
                <label for="">Descripcion:</label>
                <input type="text" name="txtDescripcion" #txtDescripcion="ngModel" [(ngModel)]="exp.descripcion" class="form-control"
                maxlength="100">
              </div>
              <div class="form-group">
                <input type="button"  class="form-control btn btn-success" value="Agregar experiencia" (click)="agregarexperiencia()">
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
