<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header bg-success d-flex justify-content-between">
        <h5 class="card-title text-white">Experiencia laboral</h5>
        <a [routerLink]="['/agregar-expeciencia']" *ngIf="_serviceUsuario.Auth()">
          <button type="button" class="btn btn-outline-secondary text-white">Nueva Experiencia</button>
        </a>
      </div>
      <div class="card-body" *ngFor="let trabajo of trabajos">
        <div class="card">
          <div class="card-body card_principal">
            <div class="row">

              <div class="col-md-4">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="duracion">{{trabajo.exp_duracion}}</div>
                      <div class="w-100"></div>
                      <div class="col-md-12 d-flex mb-3 mt-3 cargo" >
                        <h5>{{trabajo.exp_cargo}}</h5>  
                      </div>
                      <div class="col-md-12" >
                        <p>{{trabajo.exp_direccion}}</p>  
                      </div>

                      <div class="col-md-6">
                        <div>{{trabajo.exp_inicio}}</div> 
                      </div>
                      <div class="col-md-6" >
                        <div>{{trabajo.exp_fin}}</div> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4 card_actividades">
                <span class="badge badge-secondary">Actividades</span> 
                <div>
                  <p class="text-white">{{trabajo.exp_actividades}}</p>
                </div>  
              </div>
              <div class="col-md-4 card_actividades">
                  <span class="badge badge-primary">Tecnologias</span>
                  <div>
                    <p class="text-white">{{trabajo.exp_tecnologias}}</p>
                  </div>  
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
